@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .linkstyle {
    @apply text-blue-400 font-semibold underline;
  }
}

@layer base {
  h1 {
    @apply text-xl font-bold py-8 lg:text-3xl;
  }
  h2 {
    @apply text-2xl font-bold py-4;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-2xl;
  }
  body {
    @apply text-gray-300 text-lg leading-relaxed;
  }
  p{
    @apply mb-8;
  }
  a {
    @apply linkstyle;
  }
}

body::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(22, 22, 20);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(150, 141, 141);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}
