.glow {
    border: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}


@-moz-keyframes glowing {
    0% { -moz-box-shadow: 0 0 5px #d4c8c8; }
    50% { -moz-box-shadow: 0 0 25px #d6cbcb; }
    100% { -moz-box-shadow: 0 0 5px #f8f4f4; }
}

@keyframes glowing {
    0% { box-shadow: 0 0 5px #e7e1e1; }
    50% { box-shadow: 0 0 25px #f7f3f3; }
    100% { box-shadow: 0 0 5px #ffffff; }
}