---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import { sortMDByDate } from "@/util";
import type { Post } from "@/types";

const meta = {
	title: "home",
	description: "home for my writings",
};

const MAX_POSTS = 10;
const allPosts = await Astro.glob<Post>("./posts/*.md");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
	<section >
		<p>Full stack web developer, curious human and a ISFJ-T. <a href="/about"> Read more about me</a></p>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="mb-4 text-xl title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
