---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "resources",
	description: "Various programming resources",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">resources</h1>
		<p>
			These are resources about coding, job hunting or privacy that I collected over the time
		</p>
		<p>this page will get updated later when I find a way to put my obsidian notes here. By the way, if you know any way, please let me know. </p>
	</div>
</PageLayout>
