---
import ThemeToggle from "./ThemeToggle.astro";

const url = new URL(Astro.request.url);
---


<header>
	<span>
		<a
			href="/"		
		  class="logo no-underline"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<span>sam's space</span>
		</a>
		<nav aria-label="Main">
			<a href="/" aria-current={url.pathname === "/" ? "page" : false}>Home</a>
			<a href="/resources" class="px-2" aria-current={url.pathname === "/resources" ? "page" : false}>Resources</a>
			<a href="/posts" aria-current={url.pathname === "/posts" ? "page" : false}>Blog</a>
			<a href="/about" class="px-2" aria-current={url.pathname === "/about" ? "page" : false}>About</a>
		</nav>
	</span>
	<ThemeToggle />
</header>

<style>
	header {
		@apply mt-4 mb-10 md:mb-20 flex justify-between;

		.logo {
			@apply mt-10 md:mt-12;

			> span {
				@apply text-4xl font-bold sm:text-3xl;
			}
		}
		}

		nav {
			@apply py-2;
		}
</style>
